
@{
    ViewBag.Title = "Productos Tecno Compras";
    Layout = "~/Plantilla/_PlantillaContenedor.cshtml";

}

<style>

    .product-img img
    {
        padding :0 !important;
        min-height: 95px !important;
        max-height: 95px !important;
    }

</style>

<section style="min-height:800px">

    <div class="product-model">

        <div class="col-md-9 product-model-sec">
            <h2>Nuestros productos</h2>

            <div class="row">

                <div class="col-xs-12 col-md-6" ng-repeat="item in listaProducto">


                    <a href="/productos/detalleProducto/token?={{item.IdProducto}}">
                        <div class="product-grid">
                            <div class="more-product"><span> </span></div>
                            <div class="product-img b-link-stripe b-animate-go thickbox">
                                <img src="{{item.UrlFoto}}" class="img img-responsive" alt="">
                                <div class="b-wrapper">
                                    <h4 class="b-animate b-from-left  b-delay03">
                                        <button><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> VER</button>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="product-info simpleCart_shelfItem">
                        <div class="product-info-cust prt_name">
                            <h4>{{item.Nombre}}</h4>
                            <span class="item_price" ng-show="item.PrecioUnitario === item.ValorConDescuento">C$ {{item.PrecioUnitario}}</span>
                            <span class="item_price" ng-show="item.PrecioUnitario !== item.ValorConDescuento">C$ {{item.ValorConDescuento}}</span>
                            <div class="ofr">

                                <p class="pric1" ng-show="item.PrecioUnitario !== item.ValorConDescuento"><del>C$ {{item.PrecioUnitario}}</del></p>
                                <p class="disc" ng-show="item.PrecioUnitario !== item.ValorConDescuento">{{Descuento}}</p>

                            </div>
                            <input type="text" class="item_quantity" value="1" />
                            <input type="button" class="item_add items" value="Agregar">
                            <div class="clearfix"> </div>
                        </div>
                    </div>


                </div>

            </div>


        </div>
    </div>

</section>


<script src="~/js/TecnoScripts/productos.js"></script>


<script>


    $("#liProductos").addClass("active");


</script>

