
@{
    ViewBag.Title = "Index";
    Layout = "~/Plantilla/_PlantillaContenedor.cshtml";

}

<section style="min-height:800px">
    <div ng-app="app" ng-controller="controller">

        <div class="container">
            <div class="ear-piece">
                <img class="img-responsive" id="imagenFondo" src="~/images/Fondo/fondoUni.jpg" />

                <h2>
                    {{hola}}
                </h2>
            </div>
           

        </div>
    </div>
</section>




<script>


    $("#liProductos").addClass("active");


</script>

