<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> @*@ViewBag.Title*@</title>

    @*enlace del bootstrap*@
    <link href="~/css/bootstrap.css" rel="stylesheet" />

    @*estilo del tema*@ 
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>

    <!--//theme style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Wedding Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/css/Estilo.css" rel="stylesheet" />
    @*inicio del menu*@ 

    <script src="~/js/simpleCart.min.js"></script>
    <link href="~/css/memenu.css" rel="stylesheet" />
    <script src="~/js/memenu.js"></script>

    <link href="~/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    

    <!-- inicio menu contenedor -->
    <script>$(document).ready(function(){$(".memenu").memenu();});</script>
    <link href="~/css/form.css" rel="stylesheet" />
    <script src="~/js/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" id="sourcecode">
			$(function()
			{
				$('.scroll-pane').jScrollPane();
			});
    </script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</head>
<body>

    <script src="~/js/responsiveslides.min.js"></script>

    <script>

        $(function () {
          $("#slider").responsiveSlides({
      	    auto: true,
      	    nav: true,
      	    speed: 500,
            namespace: "callbacks",
            pager: false,
          });
        });
    </script>

    <div>

        <div class="header-top">
            <div class="header-bottom">
                <div class="logo">
                    <h1 class="Looogo"><a href="/Home">Tecno Compras</a></h1>
                </div>
                <!---->
                <div class="top-nav">
                    <ul class="memenu skyblue">
                        <li id="liHome" ><a href="/Home">Inicio</a></li>
                        <li class="grid">
                            <a href="/Productos/Index">Productos</a>
                            <div class="mepanel">
                                <div class="row">
                                    <div class="col1 me-one">
                                        @*<h4>Shop</h4>*@
                                        <ul>
                                            @*<li><a href="/Productos/IndexProductos">Ofertas</a></li>*@
                                          
                                           
                                            @*<li><a href="product.html">Home</a></li>
                                            <li><a href="product.html">Decorates</a></li>
                                            <li><a href="product.html">Accessories</a></li>
                                            <li><a href="product.html">Kids</a></li>
                                            <li><a href="product.html">Login</a></li>
                                            <li><a href="product.html">Brands</a></li>
                                            <li><a href="product.html">My Shopping Bag</a></li>*@
                                        </ul>
                                    </div>                          
                                  <div class="col1 me-one">
                                        @*<h4>Popular Brands</h4>
                                        <ul>
                                            <li><a href="product.html">Everyday</a></li>
                                            <li><a href="product.html">Philips</a></li>
                                            <li><a href="product.html">Havells</a></li>
                                            <li><a href="product.html">Wipro</a></li>
                                            <li><a href="product.html">Jaguar</a></li>
                                            <li><a href="product.html">Ave</a></li>
                                            <li><a href="product.html">Gold Medal</a></li>
                                            <li><a href="product.html">Anchor</a></li>
                                        </ul>
                                    </div>*@
                                </div>
                            </div>
                         </div>
                        </li>
                        <li class="grid" id="liServicio">
                            <a href="/Sugerencia/Index">Sugerencias</a>
                            <div class="mepanel">
                                @*<div class="row">
                                    <div class="col1 me-one">
                                        <h4>Shop</h4>
                                        <ul>
                                            <li><a href="product.html">New Arrivals</a></li>
                                            <li><a href="product.html">Home</a></li>
                                            <li><a href="product.html">Decorates</a></li>
                                            <li><a href="product.html">Accessories</a></li>
                                            <li><a href="product.html">Kids</a></li>
                                            <li><a href="product.html">Login</a></li>
                                            <li><a href="product.html">Brands</a></li>
                                            <li><a href="product.html">My Shopping Bag</a></li>
                                        </ul>
                                    </div>
                                    <div class="col1 me-one">
                                        <h4>Type</h4>
                                        <ul>
                                            <li><a href="product.html">Diwali Lights</a></li>
                                            <li><a href="product.html">Tube Lights</a></li>
                                            <li><a href="product.html">Bulbs</a></li>
                                            <li><a href="product.html">Ceiling Lights</a></li>
                                            <li><a href="product.html">Accessories</a></li>
                                            <li><a href="product.html">Lanterns</a></li>
                                        </ul>
                                    </div>
                                    <div class="col1 me-one">
                                        <h4>Popular Brands</h4>
                                        <ul>
                                            <li><a href="product.html">Everyday</a></li>
                                            <li><a href="product.html">Philips</a></li>
                                            <li><a href="product.html">Havells</a></li>
                                            <li><a href="product.html">Wipro</a></li>
                                            <li><a href="product.html">Jaguar</a></li>
                                            <li><a href="product.html">Ave</a></li>
                                            <li><a href="product.html">Gold Medal</a></li>
                                            <li><a href="product.html">Anchor</a></li>
                                        </ul>
                                    </div>
                                </div>*@
                            </div>
                        </li>
                        <li class="grid" id="liLogin">
                            <a href="/Login/Index">Login</a>
                        </li>
                      
                    </ul>
                </div>
                <!----carro de compras--->
                <div class="cart box_1">
                    <a href="checkout.html">
                        <div class="total">
                            <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span>)
                        </div>
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                    </a>
                    <p><a href="javascript:;" class="simpleCart_empty">Vaciar Carro </a></p>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
                <!---->
            </div>
            <div class="clearfix"> </div>
        </div>

        <!---->
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider">
                    <li>
                        <div class="banner1">
                            <div class="banner-info blanco">
                                <h2>Las mejores tarjetas madres.</h2>
                                <h4>Z77A - Gaming MotherBoard a tan solo: C$12000.</h4>    @*--------------------------------*@
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="banner2 ">
                            <div class="banner-info blanco">
                                <h2>El mejor catalogo online en Nicaragua.</h2>
                                <h4><a href="/Productos/Index">Ir al Catalogo de productos. </a></h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="banner3 ">
                            <div class="banner-info blanco">
                                <h2>Los mejores combos de PC para gamers.</h2>
                                <h4>Llevatela en liquidacion por C$: 22000.</h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!---->

        <script src="~/js/angular.min.js"></script>

        <div ng-app="app" ng-controller="controller">
        @RenderBody()
        </div>


        <div class="subscribe">
            <div class="container">
                <h3>Hoja informativa</h3>
                <form>
                    <input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
                    <input type="submit" value="suscribete">
                </form>
            </div>
        </div>

        <div class="footer">
            <div class="container">
                <div class="footer-grids">
                    <div class="col-md-3 about-us">
                        <h3>Sobre nosotros</h3>
                        <p>Esta pagina esta diseñada por estudiantes de Ing.computacion de la Uni-Ies</p>
                    </div>
                    <div class="col-md-3 ftr-grid">
                        <h3>Information</h3>
                        <ul class="nav-bottom">
                            <li><a href="#">Track Order</a></li>
                            <li><a href="#">New Products</a></li>
                            <li><a href="#">Location</a></li>
                            <li><a href="#">Our Stores</a></li>
                            <li><a href="#">Best Sellers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 ftr-grid">
                        <h3>More Info</h3>
                        <ul class="nav-bottom">
                            <li><a href="login.html">Login</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Membership</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 ftr-grid">
                        <h3>Categories</h3>
                        <ul class="nav-bottom">
                            <li><a href="#">Car Lights</a></li>
                            <li><a href="#">LED Lights</a></li>
                            <li><a href="#">Decorates</a></li>
                            <li><a href="#">Wall Lights</a></li>
                            <li><a href="#">Protectors</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="copywrite">
            <div class="container">
                <div class="copy">
                    <p>© 2017 Todos los derechos reservados | Diseñado por Estudiantes De la Uni-Ies </p>
                </div>
                <div class="social">
                    <a href="#"><i class="facebook"></i></a>
                    <a href="#"><i class="twitter"></i></a>
                    <a href="#"><i class="dribble"></i></a>
                    <a href="#"><i class="google"></i></a>
                    <a href="#"><i class="youtube"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>


    </div>
</body>
</html>
