
@{
    ViewBag.Title = "Index";
    Layout = "~/Plantilla/_PlantillaVacia.cshtml";
}


<div class="login_sec">
    <div class="container">


        <h2><br /> Iniciar sesión</h2>
        <div class="col-md-6 log">
            <form>
                <p>Bienvenido, por favor ingrese lo siguiente para continuar.</p>
                <h{5>
                    Nombre de usuario</h5>
                    <input type="text" name="userName" ng-model="user">
                    <h5>Password</h5>
                    <input type="password" ng-model="passw" name="passw">
                    <input type="button" value="Iniciar sesión" ng-click="iniciar()">
        </form>
           
            
        </div>

        <div class="clearfix"></div>
    </div>
</div>

<script src="~/js/TecnoScripts/Login.js"></script>

<script>
    $("#liLogin").addClass("active");
</script>
