
@{
    ViewBag.Title = "IndexPrincipal";
    Layout = "~/Plantilla/_PlantillaPrincipal.cshtml";
}

<style>
    .img-producto{
        height: 220px !important;
        max-height: 220px !important;
    }

    .grid-ofertas{
        max-height: 260px !important;
        overflow: auto !important;
    }
    .grid-lef{
        margin-bottom:10px !important;
        margin-top: 5px !important;
    }
</style>

<div class="items">
    <div class="container">
        <div class="items-sec" >
            <div class="col-md-3 feature-grid" ng-repeat="item in listaProducto">

                    <img src="{{item.UrlFoto}}" alt="Foto Producto" class="img img-responsive img-producto"/>
                   
                    <div class="arrival-info">
                        <h4>{{item.Nombre}}</h4>
                        <p>C$ {{item.ValorConDescuento}}</p>
                        <span class="pric1"><del>C$ {{item.PrecioUnitario}}</del></span>
                        <span class="disc">[{{item.Descuento}} % de Oferta]</span>
                    </div>
                    <div class="viw">
                        <a href="/productos/detalleProducto/producto=?{{item.IdProducto}}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true">
                          </span>Ver</a>
                    </div>

            </div>
        </div>
    </div>
</div>

<div class="offers">
    <div class="container">
        <h3>Super ofertas del 70% o màs</h3>
        <div class="offer-grids">
            <div class="col-md-6 grid-left " ng-repeat="item in listaOfertas" >
                <a href="/productos/detalleProducto/producto=?{{item.IdProducto}}" class="text-center">
                    <div class="offer-grid1">
                        <div class="ofr-pic">
                            <img src="{{item.UrlFoto}}" class="img-responsive" alt="foto producto" />
                        </div>
                        <div class="ofr-pic-info grid-ofertas">
                            <h4>{{item.Nombre}}</h4>
                            <br />
                            <h4>{{item.Descripcion}}</h4>
                            <span>Aproveche el super descuento del %{{item.Descuento}}</span>
                            <span>Oferta limitada</span>
                        </div>
                        <div class="clearfix"></div>
                        <p class="text-center btn btn-primary btn-lg text-white"><i class="fa fa-eye"></i>Ver</p>
                    </div>

                    
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


<script src="~/js/TecnoScripts/indexPrincipal.js"></script>

<script>


        $("#liHome").addClass("active");


</script>